.notify--hide {
	display: none;
	transition: all 2.5s ease-out;
	
},

.form__tooltip {
	background: #e44845;
	padding: 0.9375rem 1.25rem;
	border-radius: 0.25rem;
	white-space: nowrap;
	color: #fff; 
	margin-bottom: 15px;
	display: block;
},

